asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
Django==6.0.3
django-allauth==65.14.3
django-redis==6.0.0
djangorestframework==3.16.1
gunicorn==25.3.0
idna==3.16
packaging==26.2
psycopg2-binary==2.9.11
redis==7.3.0
regex==2026.4.4
requests==2.32.5
setuptools==81.0.0
sqlparse==0.5.5
urllib3==2.6.3
whitenoise==6.12.0
